[package]
name = "ngx_l402"
version = "1.0.9"
edition = "2021"

[lib]
name = "ngx_l402_lib"
crate-type = ["cdylib"]

[dependencies]
ngx = { git = "https://github.com/nginx/ngx-rust", branch = "master" }
l402_middleware = "1.8.0"
tokio = { version = "1.33.0", features = ["full"] }
futures = "0.3"
serde_json = "1.0"
reqwest = { version = "0.12.12", features = ["blocking"] }
tonic_openssl_lnd = "0.2.0"
once_cell = "1.20.3"
cdk = { version = "0.13.1", features = ["wallet"] }
cdk-sqlite = { version = "0.13.1", features = ["wallet"] }
base64 = "0.22.1"
rand = "0.9.0"
bip39 = { version = "2.1.0", features = ["rand"] }
redis = "0.32.2"
macaroon = "0.3.0"
log = "0.4"
env_logger = "0.11"

[features]
default = []
export-modules = []
